<div id="particles-js"></div>

<ul class="cb-slideshow">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>

<div class="container-fluid">
    <div class="row cb-slideshow-text-container">
        <div class="tm-content col-xl-6 col-sm-8 col-xs-8 ml-auto section">
            <header class="mb-5">
                <h1>Letter</h1>
            </header>
            <p class="mb-5">A sign-up letter template with three background images shuffling by fade in out movements. Thank you for visiting our site!</p>
            
            <form (ngSubmit)="onSubmit()" class="subscribe-form">
                <div class="row form-section">
                    <div class="col-md-7 col-sm-7 col-xs-7">
                        <input 
                           
                            name="email" 
                            type="email" 
                            class="form-control" 
                            id="contact_email" 
                            placeholder="Your Email..." 
                            required/>
                    </div>
                    <div class="col-md-5 col-sm-5 col-xs-5">
                        <button type="submit" class="tm-btn-subscribe">
                            {{ isSubmitted ? 'Merci !' : 'Subscribe' }}
                        </button>
                    </div>
                </div>
            </form>
            
            <div class="tm-social-icons-container text-xs-center">
                <button (click)="openSocialLink('facebook')" class="tm-social-link">
                    <i class="fa fa-facebook"></i>
                </button>
                <button (click)="openSocialLink('google')" class="tm-social-link">
                    <i class="fa fa-google-plus"></i>
                </button>
                <button (click)="openSocialLink('twitter')" class="tm-social-link">
                    <i class="fa fa-twitter"></i>
                </button>
                <button (click)="openSocialLink('linkedin')" class="tm-social-link">
                    <i class="fa fa-linkedin"></i>
                </button>
            </div>
        </div>
    </div>
    
    <div class="footer-link">
        <p>Copyright © 2024 Your Company - Design: Angular Template</p>
    </div>
</div>